{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}

    <main role="main">
<div class="container">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><b>Our Mission</b></h1>
          <p class="lead"> From Medicines to Books, Household products to your Grocery, Get Bakery, Books or anything you want, which we can deliver as per our terms of service will be delivered to you in just a day without any surge pricing.
Our motive is to keep things simple and help citizens of the city to deliver them their stuff when they need it with just a swipe.</p>

        </div>
      </div>

       <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://cdn.clipart.email/928faa030dfe6e3b1c7461e9f20616c5_little-weiwinterart-girl-baby-baby-doll-baby-girl-background-_720-1280.jpeg">
    <div class="card-body">
      <h3 class="display-4">Geetika Bansal</h3>
      <h3 >Founder</h3>
       
    </div>
  </div>
   
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/736x/0c/58/3e/0c583ec2edfc8455ebe3238282c2aa0c.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="display-4">Anish Aggarwal</h3>
      <h3 >Founder</h3>
       
    </div>
  </div>
</div>
</div>
    </main>
{% endblock %}
